/**
 * Variables
 */
$grey: #404040;
$text-grey: #3f3f3f;

/**
 * Globals
 */
body {
	color: $text-grey;
}
h2 {
	margin: 0 0 .4em;
}
h3 {
	margin-top: 0;
	font-size: 1.125em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
@mixin serif {
	font-family: Georgia, serif;
	font-style: italic;
	line-height: 1;
}
.serif {
	@include serif;
}
.title {
	text-align: center;
}
.section-title {
	margin-bottom: 1.25em;
}
p {
	margin: 0 0 .75em;
}
a {
	color: $text-grey;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
iframe {
	margin: 0 auto;
	display: block;
}

/**
 * Layout
 */
.site-width {
	margin: 0 auto;
	max-width: 1200px;
	&.grid-660 {
		max-width: 660px;
	}
	&.grid-960 {
		max-width: 960px;
	}
}
.site-width-inner {
	padding: 0 10px;
}

.home-link {
	margin-top: 2em;
	font-size: .750em;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/**
 * Header
 */
header[role="banner"] {
	margin-bottom: 2.5%;
	background: $grey;
	overflow: hidden;
	.videa-logo {
		margin: 0.625em auto;
		display: block;
		max-width: 100px;
	}
	.menu {
		margin: 0 0 0.625em;
		padding: 0;
		overflow: hidden;
		text-align: center;
		li {
			/*margin-right: 2.188em;*/
			margin-right: 1.188em;
			display: inline;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.750em;
		}
	}
}

/**
 * Startsida
 */
#fullscreen {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #bada55;
}
.our-areas {
	h2 {
		@include serif;
		color: $text-grey;
		font-size: 1.8rem;
	}
	a {
		font-size: 0.625em;
		text-transform: uppercase;
	}
	p {
		font-size: 0.875em;
	}
	.area {
		margin-bottom: 2em;
	}
}
.case-list-li {
	margin-bottom: 5%;
	position: relative;
	text-align: center;
	a {
		color: white;
	}
}
.case-list-title-overlay {
	opacity: 0;
	background: rgba(0,0,0, .5);
	position: absolute;
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: .3s;
	&:hover {
		opacity: 1;
	}
	h2 {
		@include serif;
		margin-bottom: .2em;
	}
}

/**
 * Om oss
 */
.contact-list {
	margin-left: -1.5%;
}
.contact-card {
	margin: 0 0 5% 1.5%;
	padding: 0;
	font-size: .750em;
	text-align: center;
	width: 48.5%;
	float: left;
	li {
		margin: .125em;
		list-style: none;
	}
	.contact-card-image img {
		margin: 0 auto .5em auto;
	}
	.contact-card-name {
		text-transform: uppercase;
	}
}

/**
 * Case
 */
.case-title {
	margin-bottom: .2em;
	text-align: center;
}
.case-short-description {
	text-align: center;
	display: block;
}
.not-loaded {
	display: none;
}
.js-case-load-more {
	cursor: pointer;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

/**
 * Instagram
 */
.instagram-list {
	margin: 0 0 0 -1.5%;
	padding: 0;
}
.instagram-list-item {
	margin: 0 0 5% 1.5%;
	width: 48.5%;
	float: left;
	list-style: none;
	img {
		margin: 0 auto;
	}
}

/**
 * Page
 */
.page article {
	font-size: 1.125em;
}

/**
 * Footer
 */
footer[role="contentinfo"] {
	margin-top: 3.875em;
	padding: 2.18em 0;
	/*margin: 4.375em auto;*/
	background: $grey;	
	overflow: hidden;
	.contact-info {
		/*margin-top: 1.875em;*/
		margin-top: .675em;
		text-align: center;
		color: white;
	}
	a {
		color: white;
	}
}
.videa-logo-footer {
	display: block;
	max-width: 29px;
}


/**
 * Helpers
 */
.center-block {
	display: block;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}


@import "mq";