/**
 * Variables
 */
/**
 * Globals
 */
body {
  color: #3f3f3f; }

h2 {
  margin: 0 0 .4em; }

h3 {
  margin-top: 0;
  font-size: 1.125em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center; }

.serif {
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1; }

.title {
  text-align: center; }

.section-title {
  margin-bottom: 1.25em; }

p {
  margin: 0 0 .75em; }

a {
  color: #3f3f3f;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

iframe {
  margin: 0 auto;
  display: block; }

/**
 * Layout
 */
.site-width {
  margin: 0 auto;
  max-width: 1200px; }
  .site-width.grid-660 {
    max-width: 660px; }
  .site-width.grid-960 {
    max-width: 960px; }

.site-width-inner {
  padding: 0 10px; }

.home-link {
  margin-top: 2em;
  font-size: .750em;
  text-transform: uppercase;
  text-align: center;
  display: block; }

/**
 * Header
 */
header[role="banner"] {
  margin-bottom: 2.5%;
  background: #404040;
  overflow: hidden;
  position: relative; }
  header[role="banner"] .videa-logo {
    margin: 0.625em auto;
    display: block;
    max-width: 100px; }
  header[role="banner"] .menu {
    margin: 0 0 0.625em;
    padding: 0;
    overflow: hidden;
    text-align: center; }
    header[role="banner"] .menu li {
      /*margin-right: 2.188em;*/
      margin-right: 1.188em;
      display: inline; }
      header[role="banner"] .menu li:last-child {
        margin-right: 0; }
    header[role="banner"] .menu a {
      font-family: "Helvetica", sans-serif;
      font-size: 0.750em;
      font-weight: 100;
      color: white;
      text-transform: uppercase;
      text-decoration: none; }

/**
 * Startsida
 */
#fullscreen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  /* .fullscreen-logo {
  	margin-top: 60px;
  	left: 50%;
  	position: absolute;
  	z-index: 1;
  	-webkit-transform: translate(-50%);
  	-ms-transform: translate(-50%);
  	transform: translate(-50%);
  }*/ }
  #fullscreen .fullscreen-logo {
    /* position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); */ }
    #fullscreen .fullscreen-logo img {
      margin: 0 auto; }
  #fullscreen .fullscreen-continue {
    /*margin: 50px auto 0 auto;*/
    width: 50%;
    max-width: 150px;
    cursor: pointer; }
  #fullscreen video {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    overflow: hidden;
    max-width: none; }

html.touch #fullscreen {
  background: url("../img/movie-fallback.jpg") center center no-repeat;
  background-size: cover; }
  html.touch #fullscreen video {
    display: none; }

.our-areas h2 {
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1;
  color: #3f3f3f;
  font-size: 1.8rem; }
  .our-areas h2 a {
    text-transform: none;
    font-size: 1em; }
.our-areas a {
  font-size: 0.625em;
  text-transform: uppercase; }
.our-areas p {
  font-size: 0.875em; }
.our-areas .area {
  margin-bottom: 2em; }

.case-list-li {
  margin-bottom: 5%;
  position: relative;
  text-align: center; }
  .case-list-li a {
    color: white; }

.case-list-title-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: .3s; }
  .case-list-title-overlay:hover {
    opacity: 1; }
  .case-list-title-overlay h2 {
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1;
    margin-bottom: .2em; }

/**
 * Om oss
 */
.contact-list {
  margin-left: -1.5%; }

.contact-card {
  margin: 0 0 5% 1.5%;
  padding: 0;
  font-size: .750em;
  text-align: center;
  width: 48.5%;
  float: left; }
  .contact-card li {
    margin: .125em;
    list-style: none; }
  .contact-card .contact-card-image img {
    margin: 0 auto .5em auto; }
  .contact-card .contact-card-name {
    text-transform: uppercase; }

/**
 * Case
 */
.case-title {
  margin-bottom: .2em;
  text-align: center; }

.case-short-description {
  text-align: center;
  display: block; }

.not-loaded {
  display: none; }

.js-case-load-more {
  /*margin-top: 0.938em;*/
  margin-top: 1.876em;
  cursor: pointer;
  display: block;
  text-align: center;
  text-transform: uppercase; }

/**
 * Instagram
 */
.instagram-list {
  margin: 0 0 0 -1.5%;
  padding: 0; }

.instagram-list-item {
  margin: 0 0 5% 1.5%;
  width: 48.5%;
  float: left;
  list-style: none; }
  .instagram-list-item img {
    margin: 0 auto; }

/**
 * Page
 */
.page article {
  font-size: 1.125em; }

/**
 * Footer
 */
footer[role="contentinfo"] {
  margin-top: 3.875em;
  padding: 2.18em 0;
  /*margin: 4.375em auto;*/
  background: #404040;
  overflow: hidden; }
  footer[role="contentinfo"] .contact-info {
    /*margin-top: 1.875em;*/
    margin-top: .675em;
    text-align: center;
    color: white; }
  footer[role="contentinfo"] a {
    font-weight: 100;
    color: white; }

.videa-logo-footer {
  display: block;
  max-width: 29px; }

/**
 * Helpers
 */
.center-block {
  display: block;
  margin: 0 auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media (min-width: 568px) {
  /**
   * Header
   */
  header[role="banner"] {
    height: 3.125em; }
    header[role="banner"] .videa-logo {
      margin: .5em 0 0 0;
      float: left; }
    header[role="banner"] .menu {
      margin: 0;
      line-height: 3.125em;
      text-align: right; }

  /**
   * Startsida
   */
  .case-list-ul {
    margin-left: -1.25%; }

  .case-list-li {
    margin: 0 0 0.938em 1.25%;
    width: 48.75%;
    float: left; }

  /**
   * Om oss
   */
  .contact-list {
    margin-left: -2.25%; }

  .contact-card {
    margin-left: 2.25%;
    width: 31.05%; } }
@media (min-width: 650px) {
  /**
   * Startsida
   */
  .our-areas {
    margin-left: -2.25%; }
    .our-areas h2 {
      font-size: 1.5em; }
    .our-areas .area {
      margin-left: 2.25%;
      width: 31.05%;
      float: left; }

  /**
   * Om oss
   */
  .contact-list {
    margin-top: 3.1250em; }

  .contact-card {
    font-size: 1em; }

  /**
   * Instagram
   */
  .instagram-list {
    margin-left: -2.25%; }

  .instagram-list-item {
    margin-left: 2.25%;
    width: 31.05%; } }
@media (min-width: 1000px) {
  .section-title {
    margin-bottom: 2.5em; }

  .page-title {
    margin: 2.778em 0 1.375em 0; }

  /**
   * Header
   */
  header[role="banner"] {
    margin-bottom: 3.125em;
    height: 5em; }
    header[role="banner"] .videa-logo {
      margin: 1.375em 0 0 0; }
    header[role="banner"] .menu {
      line-height: 5em; }

  /**
   * Startsida
   */
  #fullscreen .fullscreen-logo {
    margin-top: 200px; }

  .home header[role="banner"],
  .showreel {
    margin-bottom: 6.250em; }

  .our-areas h2 {
    font-size: 2.125em; }
  .our-areas p {
    font-size: 1em; }

  /**
   * Undersidor
   */
  .home-link {
    margin-top: 7.833em; }

  /**
   * Om oss
   */
  .contact-list {
    margin-top: 6.250em; }

  /**
   * Instagram
   */
  .instagram-list-item {
    width: 17.75%; }

  /**
   * Footer
   */
  footer[role="contentinfo"] {
    padding-top: 4.063em; }
    footer[role="contentinfo"] .videa-logo-footer {
      max-width: none; }
    footer[role="contentinfo"] .contact-info {
      margin-top: 2.125em; } }
